.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

.formulario_titulo {
  margin-bottom: 20px;
}

.formulario_titulo input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.noticia-selecionada {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.noticia-selecionada h2 {
  color: #333;
  margin-bottom: 10px;
}

.noticia-selecionada p {
  color: #888;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.button--delete {
  background-color: #ff3333;
}

.button--delete:hover {
  background-color: #ff6666;
}

.EditorComponent-root {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-height: 200px;
}

.EditorComponent-editor {
  min-height: 150px;
  font-size: 16px;
}
